{% extends "/shablon/main/pages/sample.html" %}
{% block content %}
<section class="content">
       <div class="row">
        <div class="col-12">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">пост</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5"><img src="https://via.placeholder.com/150x150" class="img-fluid" alt="" /></div>
                        <div class="col-md-7">
                            <h5 class="box-title">Мировое кино с уральским акцентом</h5>
                            <div id="slimtest1">
                                <p> Пятнадцать лет назад режиссер и продюсер Алексей Федорченко буквально ворвался в мировой кинематограф с фильмом "Первые на Луне".</p>
                                <p>  Сочиненная игровая картина в жанре "мокьюментари" выглядела настолько реалистичной и достоверной, что жюри Венецианского фестиваля присудило ей приз "за лучший документальный фильм".</p>
                                   Одновременно с "Первыми на Луне" Алексей Федорченко и его друг Дмитрий Воробьев, тоже режиссер и продюсер, создали свою кинокомпанию "29 февраля".
                                <p>   Название возникло оттого, что год был хотя и високосный, но принес удачу. В нынешнем, тоже високосном году, у Федорченко в работе новые фильмы. О них мы и поговорили. </p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
{% endblock %}